<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LERP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="logout" method="GET">
            <button class="btn btn-lg btn-success">Logout</button>    
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <br></br>

    <title>LERP - Contato</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
   {% if user.is_authenticated %}
    

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="agenda">Agendamento</a></li>
            <li><a href="historico">Histórico</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li class="active"><a href="contato">Contato</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 ><b>Contatos</b></h1>
        <p><br>ALEXANDRE SEIJI FUKUDA RIBAS - email@email.com</br></p>
        <p><br>ANA CAROLINA AVILA SANTOS - email@email.com</br></p>
        <p><br>DANIEL PIEROBON DE CARVALHO  - email@email.com</br></p>       
        <p><br>DIEGO GONÇALVES DUARTE - email@email.com</br></p>
        <p><br>DIOGO DE OLIVEIRA COSTA - motoca@gmail.com</br></p>
        <p><br>GUILHERME PACHECO  - email@email.com</br></p>
        <p><br>ISABELA CRISTINA CURADO  - email@email.com</br></p>
        <p><br>KARINA GAVIÃO JUNQUEIRA  - email@email.com</br></p>
        <p><br>THIAGO LOPES AMARAL  - email@email.com</br></p>
        <p><br>VINICIUS RANGEL M VASCONCELOS  - vinirmv23@gmail.com</br></p>
        <p><br>WILER MESQUITA DE ASSUNÇÃO  - wilkerwma@gmail.com</br></p>

      </div>

    
      <!-- Site footer -->
      <footer class="footer">
       <p>&copy; Projeto Integrador 1/2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    {% else %}
    {% include "../templates/logout.html" %}
    {% endif%}
  </body>
</html>
