<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/ico/favicon.ico">

   

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script language="javascript">  
        function setaURL(parameter){
        if (parameter==1){
          url= 'http://script.google.com/macros/s/AKfycbzi0YFdb7ewTqv6_SJmICcITJ9Af_mRasmTaJQS8snG8ro9FQQ0/exec?saida4=1' 
        }
        if (parameter==0){
          url= 'http://script.google.com/macros/s/AKfycbzi0YFdb7ewTqv6_SJmICcITJ9Af_mRasmTaJQS8snG8ro9FQQ0/exec?saida4=0'
        }
        
        var width = 400;
        var height = 400;
        var left = 99;
        var top = 99;
 
        x=window.open(url,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');   
        } 
        
    </script> 

  </head>
 <br></br>
  <body>

    {% if user.is_authenticated %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LERP: Limpeza De Reservatorios Prediais</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" action="logout" method="GET">
          <button class="btn btn-lg btn-success">Logout</button>    
        </form>
         
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
      
    <div class="container">
    

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <!--<h3 class="text-muted"> - </h3><br></br>-->
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="agenda">Agendamento</a></li>
            <li><a href="historico">Histórico</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="contato">Contato</a></li>
          </ul>
        </nav>
      </div>
   <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 >Iniciar Limpeza!</h1>
        <p class="lead">Verifique no histórico se a sua Caixa D'água precisa de Limpeza e comece agora. ".</p> 
        <p class = "text-danger">Caso alguma coisa o impeça, favor avaliar a situação e agendar a limpeza para uma data adequada.</p>
        <form action="ligar" method="GET">
          <button class="btn btn-lg btn-success" onclick="setaURL(1)" name="ligar" value="ligar">Começar Limpeza</button>
        </form>
        <form action="desligar" method="GET">
          <button class="btn btn-lg btn-success" onclick="setaURL(0)" name="desligar" value="desligar">Terminar Limpeza</button>
        </form>
      </div>

      <!-- Site footer -->
      <footer class="footer">
         <p>&copy; Projeto Integrador 1/2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

      {{ state }}
      {% else %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LERP: Limpeza De Reservatorios Prediais</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse"> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  <center>  
  <table  width="1000px" height="400px">  
  <tbody>
    <tr>
      <td>
      <center>

        <img src="../media/logo2.png" width="600px" height="400px"/>
      </center>
          
      </td>
      <td>
      <center>  
        <form action="/" method="post">
          {% csrf_token %}

          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
            <div >
              <h2 >Bem Vindo ao LERP!</h2>
            {{ state }} 
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}">
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Password" name="password" value=""  >
            </div>
    
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" value="Log In">Entrar</button>
            </span> 
            </div>
            
          
        </form>
        </center>    
      </td>    
    </tr>
  </tbody>
  </table>
  </center>
 {% endif%}
   
  </body>
</html>
